# Bytecode and Caches
__pycache__/
*.py[cod]
*$py.class
logs/

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment Variables & Secrets
.env
.venv
*.env
token.json

# Distribution/Packaging
dist/
build/
*.egg-info/

# PyCharm:

.idea/
